// ========== Google Font
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;400;600;800&family=Cormorant+Infant:wght@300;400;500;600;700&family=Hind:wght@300;500;700&display=swap');

// ========== Global Style
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Assistant', sans-serif;;
}

// ========== Variable
$clr-primary: #3DA9FC;
$clr-primary-variant: #90B4CE;
$clr-secondary: #FF4565;
$clr-dark: #5F5C7B;
$clr-dar-variant: #094067;
$clr-background: #FFFFFE;
$clr-backgroud-variant: #D8EEFE;
$box-shadow: 5px 5px 20px rgb(0,0,0,0.05);
$font-head-title:'Cormorant Infant', serif;
$font-subtitle: 'Hind', sans-serif;



// ========== Based Style
html{
    &::-webkit-scrollbar{
        width: .5vw;
    }
    &::-webkit-scrollbar-thumb{
        background: $clr-primary;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-track{
        background: $clr-background;
    }
}
.section{
    padding: 100px 20px 20px 20px;
    min-height: 100vh;
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.head-title{

    &::before{

        content: attr(data small title);
        display: block;
        font-size: 18px;
        line-height: 24px;
        color: $clr-primary;
        font-family: $font-head-title;
        font-weight: 700;
        text-transform: capitalize;
    }
}
.outer-button{
    // width: -moz-fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    border-radius: 10px;
    background:$clr-primary;
    border: solid 3px $clr-primary;
    transition: all 300ms ease;
    cursor: pointer;

    .inner-button{
        background: none;
        border: none;
        color: $clr-background;
        font-size: 20px;
        font-weight: 700;
        text-transform: capitalize;
        cursor: pointer;
    }

    &:hover{
        background: $clr-background;
        border: solid 3px $clr-primary;

        .inner-button{
            color: $clr-primary;
        }
    }
}
// ========== Keyframes

// ========== Background

// ========== Navigation Bar
.navigation-bar{
    width: 100%;
    height: 70px;
    top:0;
    left: 0;
    position: fixed;
    background: $clr-background;
    box-shadow: $box-shadow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    padding: 10px 30px;
    z-index: 1000;
    transition: all .5s ease;

    .head-title{
        font-size: 34px;
        color: $clr-primary;
        text-transform: capitalize;
        font-style: $font-head-title;
        font-weight: 700;
    }

    .nav-item{
        display: flex;
        justify-content: center;
        align-items: center;

        li{
            margin: 0 10px;
            text-transform: capitalize;

            a{
                color: $clr-dark;
                font-size: 20px;
                font-weight:700;
                transition: all 300ms ease;

                &:hover{
                    	color: $clr-dar-variant;
                }
            }
        }
    }

    .account-box{
        display: flex;

        .box{
            margin: 0 5px;
            padding: 5px 0;
            width: 100px;
            box-shadow: $box-shadow;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $clr-primary;
            font-weight: 600;
            text-transform: capitalize;
            border: 5px solid $clr-primary;
            cursor: pointer;
            transition: all 300ms ease;

            &.singup-bar{
                background: $clr-backgroud-variant;
            }

            svg{
                margin-left: 5px;
            }

            &:hover{
                border: 0px;
                color: $clr-background;
                background: $clr-primary;
            }
            }
        }
        
    }



// ========== Home Page

.home-page{
    height: 120vh;
    background: $clr-background;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &::after{
        content: '';
        width: 700px;
        height: 700px;
        background: $clr-backgroud-variant;
        box-shadow: $box-shadow;
        position: absolute;
        overflow-x: hidden;
        top:50px;
        right: -400px;
        transform: rotate(45deg);
        z-index: 1;
    }

    .container{
        width: 100%;
        display: flex;
        justify-content: space-between;

        .content{
            .head-title{
                color: $clr-dark;
                font-size: 50px;
                line-height: 50px;
                font-weight: 700;

                span{
                    font-family: inherit;
                    color: $clr-primary;
                    text-transform: capitalize;
                }
            }

            .sub-title{
                margin: 20px 0 40px;
                font-size: 18px;
                color: $clr-dark;
                width: 450px;
            }

            .download-box{

                .content-box{
                    display: flex;
                    align-items: center;

                    .box{
                        width: 170px;
                        height: 50px;
                        border-radius: 1;
                        overflow: hidden;
                        cursor: pointer;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}

// ========== How It Works Page

// ========== Milestone Page

// ========== Service Page

// ========== Suggest Car Page

// ========== Car Page

// ========== Testimonials Page

// ========== Update Page

// ========== Download Page

// ========== Faq Page

// ========== Copyright

// ========== Media Queries

// ========== For Middle-High Width Device

// ========== For Middle-Low Width Device