// ========== Google Font
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;400;600;800&family=Cormorant+Infant:wght@300;400;500;600;700&family=Hind:wght@300;500;700&display=swap");

// ========== Global Style
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Assistant", sans-serif;
}

// ========== Variable
$clr-primary: #3da9fc;
$clr-primary-variant: #90b4ce;
$clr-secondary: #ff4565;
$clr-dark: #5f5c7b;
$clr-dark-variant: #094067;
$clr-background: #fffffe;
$clr-backgroud-variant: #d8eefe;
$box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.05);
$font-head-title: "Cormorant Infant", serif;
$font-subtitle: "Hind", sans-serif;

// ========== Based Style
html {
    &::-webkit-scrollbar {
        width: 0.5vw;
    }
    &::-webkit-scrollbar-thumb {
        background: $clr-primary;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-track {
        background: $clr-background;
    }
}
.section {
    padding: 100px 20px 20px 20px;
    min-height: 100vh;
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;
}
.container {
    max-width: 1140px;
    margin: auto;
}
.head-title {
    &::before {
        content: attr(data small title);
        display: block;
        font-size: 18px;
        line-height: 24px;
        color: $clr-primary;
        font-family: $font-head-title;
        font-weight: 700;
        text-transform: capitalize;
    }
}
.outer-button {
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    border-radius: 10px;
    background: $clr-primary;
    border: solid 3px $clr-primary;
    transition: all 300ms ease;
    cursor: pointer;

    .inner-button {
        background: none;
        border: none;
        color: $clr-background;
        font-size: 20px;
        font-weight: 700;
        text-transform: capitalize;
        cursor: pointer;
    }

    &:hover {
        background: $clr-background;
        border: solid 3px $clr-primary;

        .inner-button {
            color: $clr-primary;
        }
    }
}
// ========== Keyframes
@keyframes load_line {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes load_sub_line_bottom {
    0% {
        transform: translateY(-73px);
        height: 46px;
    }

    100% {
        transform: translateY(-50px);
        height: 0px;
    }
}
@keyframes load_sub_line_top {
    0% {
        transform: translateY(73px);
        height: 46px;
    }
    100% {
        transform: translateY(50px);
        height: 0px;
    }
}
@keyframes work_item {
    0% {
        box-shadow: $box-shadow;
        border: 4px solid $clr-backgroud-variant;
    }
    100% {
        box-shadow: 0px 0px 10px $clr-primary;
        border: 4px solid $clr-primary;
    }
}

// ========== Background

// ========== Navigation Bar
.navigation-bar {
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    position: fixed;
    background: $clr-background;
    box-shadow: $box-shadow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    padding: 10px 30px;
    z-index: 1000;
    transition: all 0.5s ease;

    .head-title {
        font-size: 34px;
        color: $clr-primary;
        text-transform: capitalize;
        font-style: $font-head-title;
        font-weight: 700;
    }

    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            margin: 0 10px;
            text-transform: capitalize;

            a {
                color: $clr-dark;
                font-size: 20px;
                font-weight: 700;
                transition: all 300ms ease;

                &:hover {
                    color: $clr-dark-variant;
                }
            }
        }
    }

    .account-box {
        display: flex;

        .box {
            margin: 0 5px;
            padding: 5px 0;
            width: 100px;
            box-shadow: $box-shadow;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $clr-primary;
            font-weight: 600;
            text-transform: capitalize;
            border: 5px solid $clr-primary;
            cursor: pointer;
            transition: all 300ms ease;

            &.singup-bar {
                background: $clr-backgroud-variant;
            }

            svg {
                margin-left: 5px;
            }

            &:hover {
                border: 0px;
                color: $clr-background;
                background: $clr-primary;
            }
        }
    }
}

// ========== Home Page

.home-page {
    height: 120vh;
    background: $clr-background;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &::after {
        content: "";
        width: 700px;
        height: 700px;
        background: $clr-backgroud-variant;
        box-shadow: $box-shadow;
        position: absolute;
        overflow-x: hidden;
        top: 50px;
        right: -400px;
        transform: rotate(45deg);
        z-index: 1;
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .content {
            .head-title {
                color: $clr-dark;
                font-size: 50px;
                line-height: 50px;
                font-weight: 700;

                span {
                    font-family: inherit;
                    color: $clr-primary;
                    text-transform: capitalize;
                }
            }

            .sub-title {
                margin: 20px 0 40px;
                font-size: 18px;
                color: $clr-dark;
                width: 450px;
            }

            .download-box {
                .content-box {
                    display: flex;
                    align-items: center;

                    .box {
                        width: 170px;
                        height: 50px;
                        border-radius: 10px;
                        overflow: hidden;
                        cursor: pointer;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        &:first-child {
                            margin-right: 20px;
                        }
                    }
                }
            }

            .image-box {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 500px;
                height: 500px;
                position: relative;
                z-index: 2;
            }

            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .form-container {
        position: absolute;
        bottom: 200px;
        left: 100px;
        width: 800px;
        padding: 20px;
        background: $clr-backgroud-variant;
        box-shadow: $box-shadow;
        display: flex;
        border-radius: 10px;
        z-index: 3;

        .input-group {
            width: 300px;
            height: 90px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-right: 20px;
        }

        input {
            width: 100%;
            height: 40px;
            padding: 10px;
            border: none;
            border-radius: 5px;

            &:valid {
                outline: none;
            }

            &::placeholder {
                color: $clr-dark;
                text-transform: capitalize;
            }
        }

        .sub-input-group {
            display: flex;
            justify-content: space-between;

            input {
                width: 48%;
                color: $clr-dark;
            }
        }

        .form-button {
            height: 90px;
            width: 150px;
            background: $clr-primary;
            border: none;
            border-radius: 5px;
            color: $clr-background;
            font-size: 34px;
            font-weight: 700;
            font-family: $font-subtitle;
            cursor: pointer;
            transition: all 300ms ease;

            &:hover {
                background: $clr-primary-variant;
            }
        }
    }
}

// ========== How It Works Page

.how-it-works-page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 450px 30px 250px 0;

    .head-title-primary {
        font-size: 48px;
        line-height: 46px;
        font-weight: 800;
        color: $clr-dark-variant;
        margin-bottom: 10px;
        position: absolute;
        top: -5px;
    }

    .head-title {
        font-size: 48px;
        line-height: 46px;
        font-weight: 800;
        color: $clr-dark-variant;
        margin-bottom: 10px;
        position: absolute;
        top: 80px;

        &::before {
            .small-title {
                content: attr(data-small-title);
                text-align: center;
            }
        }
    }

    &::before {
        content: "";
        width: 100%;
        height: 4px;
        background: $clr-backgroud-variant;
        top: 60%;
        left: 0;
        position: absolute;
    }

    &::after {
        content: "";
        width: 100%;
        height: 4px;
        background: $clr-primary;
        box-shadow: 1px 1px 10px $clr-primary;
        top: 60%;
        left: 0;
        position: absolute;
        z-index: 2;
        animation: load_line 10s linear forwards;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 60%;

        .box-item {
            display: flex;
            justify-content: center;
            position: absolute;
            gap: 100px;

            .item {
                width: 100px;
                height: 100px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                background: $clr-background;
                border: 4px solid $clr-backgroud-variant;
                box-shadow: $box-shadow;
                z-index: 5;
                transition: all 500ms ease;

                svg {
                    position: absolute;
                    font-size: 50px;
                    color: $clr-primary;
                    transition: all 300ms ease;
                }

                .head-title {
                    position: absolute;
                    font-size: 28px;
                    color: $clr-dark-variant;
                    text-transform: capitalize;
                    font-weight: 900;
                    width: 200px;
                    text-align: center;
                }

                .sub-title {
                    position: absolute;
                    font-size: 18px;
                    font-weight: 600;
                    color: $clr-dark;
                    width: 200px;
                    text-align: center;
                }

                &:nth-child(odd) {
                    transform: translateY(-100%);
                    animation: work_item 0.2s ease forwards;

                    &::before {
                        content: "";
                        width: 4px;
                        height: 50px;
                        background: $clr-primary;
                        position: absolute;
                        transform: translateY(75px);
                        z-index: -2;
                    }

                    &::after {
                        content: "";
                        width: 4px;
                        height: 50px;
                        background: $clr-backgroud-variant;
                        position: absolute;
                        transform: translateY(75px);
                        animation: load_sub_line_top 1s linear forwards;
                        z-index: -1;
                    }

                    .head-title {
                        transform: translateY(-170px);
                    }

                    .sub-title {
                        transform: translateY(-75px);
                    }
                }

                &:nth-child(even) {
                    transform: translateY(100%);
                    animation: work_item 0.2s ease forwards;

                    &::before {
                        content: "";
                        width: 4px;
                        height: 46px;
                        background: $clr-primary;
                        position: absolute;
                        transform: translateY(-73px);
                        z-index: -2;
                    }

                    &::after {
                        content: "";
                        width: 4px;
                        height: 46px;
                        background: $clr-backgroud-variant;
                        position: absolute;
                        transform: translateY(-73px);
                        animation: load_sub_line_bottom 1s linear forwards;
                        z-index: -1;
                    }

                    .head-title {
                        transform: translateY(10px);
                    }

                    .sub-title {
                        transform: translateY(110px);
                    }
                }

                &:nth-child(1) {
                    animation-delay: 3.4s;

                    &::after {
                        animation-delay: 2.4s;
                    }
                }

                &:nth-child(2) {
                    animation-delay: 4.7s;

                    &::after {
                        animation-delay: 3.7s;
                    }
                }

                &:nth-child(3) {
                    animation-delay: 6s;

                    &::after {
                        animation-delay: 5s;
                    }
                }

                &:nth-child(4) {
                    animation-delay: 7.3s;

                    &::after {
                        animation-delay: 6.3s;
                    }
                }

                &:nth-child(5) {
                    animation-delay: 8.6s;

                    &::after {
                        animation-delay: 7.6s;
                    }
                }
            }
        }
    }
}

// ========== Milestone Page

// ========== Service Page

// ========== Suggest Car Page

// ========== Car Page
.car-page {
    height: 100%;
    position: relative;

    .find-car-bar {
        width: 80%;
        height: 250px;
        padding: 20px;
        margin-bottom: 40px;
        background: $clr-background;
        box-shadow: $box-shadow;
        border-radius: 20px;
        border: 2px solid $clr-backgroud-variant;
        display: flex;
        flex-direction: row;
        margin-left: 10%;

        .left-container {
            min-width: 450px;
            height: 210px;
            display: grid;
            justify-content: space-between;
            margin-right: 20px;

            .text-title {
                .head-title {
                    font-size: 40px;
                    color: $clr-primary;
                    font-weight: 900;
                }

                .sub-title {
                    margin-top: 20px;
                    font-size: 15px;
                    line-height: 20px;
                    color: $clr-dark;
                    font-family: $font-subtitle;
                }
            }

            .bottom-box {
                width: 400px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .left-box {
                    width: 200px;
                    display: flex;

                    .circle-profile {
                        width: 40px;
                        height: 40px;
                        font-size: 18px;
                        color: $clr-primary;
                        font-weight: 700;
                        border-radius: 50%;
                        overflow: hidden;
                        border: 3px solid $clr-backgroud-variant;
                        background: $clr-background;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        &:nth-child(2) {
                            transform: translateX(-30%);
                        }
                        &:nth-child(3) {
                            transform: translateX(-60%);
                        }
                        &:nth-child(4) {
                            transform: translateX(-90%);
                        }
                        &:nth-child(5) {
                            transform: translateX(-120%);
                        }
                    }

                    .separator {
                        width: 3px;
                        height: 50px;
                        background: $clr-backgroud-variant;
                        border-radius: 5px;
                    }
                }

                .right-box {
                    .star-box {
                        svg {
                            color: $clr-primary;
                        }
                    }

                    p {
                        text-transform: capitalize;
                        font-size: 16px;
                        color: $clr-dark;
                        opacity: 0.8;
                    }
                }
            }
        }

        .right-container {
            height: 210px;
            width: 100%;
            padding: 20px;
            background: $clr-background;
            border-radius: 10px;
            border: 2px solid $clr-backgroud-variant;
            display: flex;
            align-items: center;
            justify-content: space-between;

            label {
                font-size: 18px;
                font-weight: 700;
                color: $clr-primary;
                text-transform: capitalize;
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                svg {
                    margin-right: 10px;
                    font-size: 16px;
                }
            }

            input {
                height: 40px;
                width: 100%;
                padding: 5px;
                border-radius: 5px;
                transition: all 300ms ease;
                border: none;
                outline: none;
                font-size: 10px;
                font-weight: 600;
                color: $clr-dark;
                text-transform: capitalize;

                &:valid {
                    border: 2px solid $clr-backgroud-variant;
                }

                &:hover,
                &:focus {
                    border: 2px solid $clr-primary;
                }
            }

            .form-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 48%;
                height: 200px;

                .top-box {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    padding-top: 10px;
                }

                .bottom-box {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 20px;

                    .box {
                        width: 50%;
                    }
                }
            }
        }
    }

    .car-container {
        .filter-car-bar {
            width: 300px;
            height: 100%;
            padding: 20px;
            margin-right: 48px;
            background: $clr-background;
            border-radius: 20px;
            border: 2px solid $clr-backgroud-variant;

            .head-title {
                font-size: 20px;
                font-weight: 900;
                color: $clr-primary;
                text-transform: capitalize;
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                svg {
                    color: $clr-secondary;
                    margin-left: 5px;
                }
            }

            .car-category-cotainer {
                .car-category {
                    height: 18px;
                    overflow:hidden;

                    &:not(:first-child) {
                        margin-top: 15px;
                    }
                    .top-box {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 5px;

                        .head-title {
                            font-size: 16px;
                            line-height: 16px;
                            margin: 0;
                            color: $clr-dark-variant;
                            font-weight: 700;
                            align-items: inherit;
                            font-family: $font-subtitle;
                        }

                        .show-button {
                            &::before {
                                content: "\2b";
                                font-family: "Font Awesome 6 Free";
                                font-weight: 900;
                                display: inline-block;
                                font-style: normal;
                                text-rendering: auto;
                                -webkit-font-smoothing: antialiased;
                                font-size: 15px;
                                line-height: 15px;
                                color: $clr-primary;
                            }
                        }
                    }

                    .category-content {
                        .category-car {
                            display: flex;
                            align-items: center;

                            input {
                                cursor: pointer;
                            }

                            label {
                                font-size: 16px;
                                color: $clr-dark-variant;
                                text-transform: capitalize;
                                margin: 0px 5px;
                            }

                            .category-count {
                                font-size: 14px;
                                line-height: 14px;
                                color: $clr-dark;
                                font-weight: 700;
                            }
                        }
                    }

                    &.show {
                        height: 100%;

                        .top-box {
                            .show-button {
                                &::before {
                                    content: "\f068";
                                    font-family: "Font Awesome 6 Free";
                                    font-weight: 900;
                                    display: inline-block;
                                    font-style: normal;
                                    text-rendering: auto;
                                    -webkit-font-smoothing: antialiased;
                                    font-size: 15px;
                                    line-height: 15px;
                                    color: $clr-primary;
                                }
                                //27//01
                            }
                        }
                    }
                }
            }
        }
    }
}

// ========== Testimonials Page

// ========== Update Page

// ========== Download Page

// ========== Faq Page

// ========== Copyright

// ========== Media Queries

// ========== For Middle-High Width Device

// ========== For Middle-Low Width Device

// ========== Form Navigation

.form-nav {
    .form-container {
        position: absolute;
        bottom: 200px;
        left: 100px;
        width: 800px;
        padding: 20px;
        background: $clr-backgroud-variant;
        box-shadow: $box-shadow;
        display: flex;
        border-radius: 10px;
        z-index: 3;

        .input-group {
            width: 300px;
            height: 90px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-right: 20px;
        }

        input {
            width: 100%;
            height: 40px;
            padding: 10px;
            border: none;
            border-radius: 5px;

            &:valid {
                outline: none;
            }

            &::placeholder {
                color: $clr-dark;
                text-transform: capitalize;
            }
        }

        .sub-input-group {
            display: flex;
            justify-content: space-between;

            input {
                width: 48%;
                color: $clr-dark;
            }
        }

        .form-button {
            height: 90px;
            width: 150px;
            background: $clr-primary;
            border: none;
            border-radius: 5px;
            color: $clr-background;
            font-size: 34px;
            font-weight: 700;
            font-family: $font-subtitle;
            cursor: pointer;
            transition: all 300ms ease;

            &:hover {
                background: $clr-primary-variant;
            }
        }
    }
}
